.carousel-wrapper {
  position: relative;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  border-radius: 50px;
  height: 4rem;
  width: 4rem;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}
