.modal-header {
  background-color: black;
}

.modal-header h1,
.modal-header h4 {
  color: white;
}
.modal-header * .btn-close {
  color: white;
}

/* no gap */
/* .no-gap {
  padding-right: 0;
  padding-left: 0;
} */

.modal-header > .btn-close {
  color: white;
  filter: invert(1);
}

/* map-review-box */

.map-review-box {
  border: solid 2px grey;
}

.modal-frame {
  border: solid 1px lightgrey;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
